* {
  box-sizing: border-box;
}

body {
  color: #272932;
  font-family: "Hind", sans-serif;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh + 4rem;
  margin: 0 2rem;
  padding: 5rem 0;
}

input,
select {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: inherit;
  text-align: center;
  outline: none;
  border-radius: 30px;
  border: none;
}

select {
  text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.title {
  color: #f05d5e;
  font-size: 2.5rem;
}

.free-age {
  color: #f05d5e;
  font-size: 3.5rem;
}

h2 {
  color: #0f7173;
  font-size: 1.75rem;
}

span {
  font-size: 1.25rem;
}

button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0;
  font-family: inherit;
  font-size: 1.25rem;
  color: #e7ecef;
  background-color: #0f7173;
  border: none;
  border-radius: 30px;
  outline: none;
}

button:hover,
select:hover {
  cursor: pointer;
  background-color: rgba(15, 113, 115, 0.9);
  transition: 0.2s linear;
}

.previous {
  margin-right: 2rem;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
}

.scene {
  width: 100%;
  min-width: 350px;
  height: auto;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  transition: transform 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7ecef;
  border-radius: 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.flip-card {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  transform: rotateY(180deg);
  transition: transform 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7ecef;
  border-radius: 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.flip-card-inner {
  font-size: 2rem;
  color: #2f2f2f;
  transform: rotateY(180deg);
}

.card-inner {
  font-size: 2rem;
  color: #2f2f2f;
}
